<nav class="pagination-section load-more">
	{{#if next}}
	<div class="pagination-wrap">
		<a href="{{page_url next}}" id="next-page"></a>
		<button class="button button-secondary global-button gh-loadmore">{{t "Load more"}}</button>
	</div>
	{{/if}}

</nav>